.add-pokemon {
  width: 90%;
  background-color: $button;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 20px;
  align-items: center;
  align-content: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 1rem;

  img {
    width: 50px;
  }

  p {
    text-transform: uppercase;
    font-family: $lucky;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
  }
}
@media (max-width: 350px) {
  .add-pokemon {
    p {
      font-size: 1em !important;
    }
  }
}

@media (max-width: 480px) {
  .add-pokemon {
    p {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 700px) {
  .add-pokemon {
    p {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 768px) {
  .add-pokemon {
  }
}
