$primary: #73b9ff;
$secondary: #342e37;
$accent: #0f4d8c;
$form:#D1FAFF;
$heading:#2A2B2E;
$input:#B8BAC8;
$button:#3F9FFF;
$lucky: "Luckiest Guy", cursive;
%center {
  margin-left: auto;
  margin-right: auto;
}
