$primary: #73b9ff;
$secondary: #342e37;
$accent: #0f4d8c;
$form: #d1faff;
$heading: #2a2b2e;
$input: #b8bac8;
$button: #3f9fff;
$lucky: "Luckiest Guy", cursive;
$dex-button: #e2ebf2;

%center {
  margin-left: auto;
  margin-right: auto;
}
