.toolbar {
  background-color: $accent;
  height: 10%;
  display: flex;

  img {
    width: 60px;
  }
}

h6 {
  font-family: $lucky !important;
  font-weight: 700 !important;
  font-size: 2em !important;
}

.link span {
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  font-family: $lucky;
  display: block;
  text-align: left;
}

.link:nth-of-type(1) {
  margin-top: 1.5rem;
}

.link {
  text-decoration: none;
  margin-bottom: 1rem;
}

.icon {
  display: inline-flex;
  min-width: 40px;
  flex-shrink: 0;
}

.MuiListItem-root {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  margin-left: 1.5rem !important;
}

@media (max-width: 600px) {
  .MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-6 {
    box-shadow: 0px 0px 5px 10px rgba(31, 29, 29, 0.4) !important;
  }
}
