@media (max-width: 710px) {
  .desk-hero {
    display: none;
  }

  .mobile-hero {
    width: 95%;
  }

  .home-container h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 710px) {
  .mobile-hero {
    display: none;
  }
}

@media (max-width:425px){
  .home-container  h2{
    font-size: 1.3em;
  }

  .mobile-hero{
    margin-top:1rem;
  }
}

@media(max-width:768px){
  .cta{
    width: 30% !important;
  }
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  text-decoration: none;
  background-color: $accent;
  color: white;
  padding: 0.7rem;
  border-radius: 15px;
  margin-top:1rem;
  font-weight: 700;
  font-size: .8em;
  width: 40%;
  display: flex;
  justify-content: center;
}

.closed {
  display: none !important;
}

.open {
  display: flex !important;
}

.info{
  margin: 1rem;
}
