@media (max-width: 710px) {
  .desk-hero {
    display: none;
  }

  .mobile-hero {
    width: 95%;
  }

  .home-container h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 710px) {
  .mobile-hero {
    display: none;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  text-decoration: none;
  background-color: $accent;
  color: white;
  padding: 0.7rem;
  border-radius: 15px;
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.2em;
}

.closed {
  display: none !important;
}

.open {
  display: flex !important;
}
