@import "./components/scss/Colors.scss";
@import "./components/scss/Nav.scss";
@import "./components/scss/Header.scss";
@import "./components/scss/Home.scss";
@import "./components/scss/New.scss";
@import "./components/scss/SingleForm.scss";
@import "./components/scss/SingleForm.scss";
@import "./components/scss/AddPokemon.scss";
@import "./components/scss/Pokedex.scss";
@import "./components/scss/ModifyModal.scss";
@import "./components/scss/SubmitTeam.scss";
@import "./components/scss/TableOfContetns.scss";
@import "./components/scss/SelectMoves.scss";
@import "./components/scss/EditModal.scss";
@import "./components/scss/Teams.scss";
@import "./components/scss/Analyze.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  font-size: inherit;
}

.html {
  height: 100vh;
  display: flex;
  position: relative;
}

.html-content {
  width: 100%;
}

.makeStyles-content-7 {
  padding: 0rem !important;
}
